.sidebar {
    width: 250px; // Adjust width as needed
    background-color: #fff; // Sidebar background color
    padding: 20px; // Add padding
    border-right:3px solid gray;
    background-color: rgb(251, 251, 255);
    overflow-y: auto;
    height: 100vh;
    flex-shrink: 0;
    

    .logo{
        width: 70%; /* Set the width */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto;
    }
    .sidebarWrapper {
      padding: 20px;
      color: #555;
  
      .sidebarMenu {
        margin-bottom: 10px;
  
        .sidebarTitle {
          font-size: 13px;
          color: rgb(187, 186, 186);
        }
  
        .sidebarList {
          list-style: none;
          padding: 5px;
  
          .sidebarListItem {
            padding: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
  
            &.active,
            &:hover {
              background-color: rgb(240, 240, 255);
            }
  
            .sidebarIcon {
              margin-right: 5px;
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }
  