@use '../../helper/mixin' as *;

$accepted-color:green;
.booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  
    &.accept-button {
      border-left: 5px solid #4caf50;
    }
  
    &.reject-button {
      border-left: 5px solid #f44336;
    }
  
    &.pending-button {
      border-left: 5px solid #ff9800;
    }
  
    &:hover {
      transform: scale(1.02);
    }
  
    .doc-name {
      display: flex;
      align-items: center;
  
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
  
      span {
        font-weight: bold;
      }
    }
  
    .booking-info {
      flex: 1;
      padding: 0 20px;
  
      .specs {
        p {
          margin: 0;
          font-weight: bold;
        }
  
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            margin: 5px 0;
          }
        }
      }
  
      .date {
        display: flex;
        align-items: center;
  
        .day {
          display: flex;
          align-items: center;
          margin-right: 10px;
  
          svg {
            margin-right: 5px;
          }
        }
  
        span {
          font-size: 14px;
          color: #666;
        }
      }
  
      .total-price {
        p {
          margin: 5px 0;
          font-weight: bold;
          color: #333;
        }
      }
  
      .time-left {
        display: flex;
        align-items: center;
        color: #ff9800;
  
        svg {
          margin-right: 5px;
        }
  
        span {
          font-weight: bold;
        }
      }
    }
  
    .booking-status {
      display: flex;
      align-items: center;
  
      svg {
        margin-right: 5px;
      }
  
      span {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
  

